<div class="container" *ngIf="popularUpdatedNew">
        <div class="row"> &nbsp; &nbsp;</div>
        <div class="row">            
            <h1>Most Viewed Comics</h1>
            <div class="col-sm" *ngFor="let viewed of popularUpdatedNew.mostViewed;">                                
                <div class="card">
                    <a href="/comic/{{viewed.comicid}}">
                        <img class="card-img-top" src="{{viewed.coverart}}" alt="">
                    </a>
                    <div class="card-body" >
                      <h1 class="card-title">{{viewed.title}}</h1>
                    </div>
                </div>  
            </div>                               
        </div>

        <div class="row"> &nbsp; &nbsp;</div>

        <div class="row">            
            <h1>New Comics</h1>            
            <div class="col-sm" *ngFor="let recent of popularUpdatedNew.mostRecent;">                
                <div class="card">
                    <a href="/comic/{{recent.comicid}}">
                        <img class="card-img-top" src="{{recent.coverart}}" alt="">
                    </a>
                    <div class="card-body" >
                      <h1 class="card-title">{{recent.title}}</h1>
                    </div>
                </div>                
            </div>                               
        </div>

        <div class="row"> &nbsp; &nbsp;</div>

        <div class="row">            
            <h1>Recently Updated Comics</h1>            
            <div class="col-sm" *ngFor="let lastupdate of popularUpdatedNew.lastUpdated;">                
                <div class="card">
                    <a href="/comic/{{lastupdate.comicid}}">
                        <img class="card-img-top" src="{{lastupdate.coverart}}" alt="">
                    </a>
                    <div class="card-body" >
                      <h1 class="card-title">{{lastupdate.title}}</h1>
                    </div>
                </div>                
            </div>                               
        </div>
</div>