<div class="container">
    <br>
    <div class="row">
        <div class="col-12">            
            <app-tag-chips #includedTagChips></app-tag-chips>
        </div>
    </div>
    

    <div class="row">
        <div class="col-4">
            <mat-form-field class="example-full-width">
                <mat-label>From Viewcount</mat-label>
                <input type="number" matInput placeholder="Min viewcount" [formControl]="viewCountFrom">
            </mat-form-field>
        </div>


        <div class="col-4">
            <mat-form-field class="example-full-width">
                <mat-label>To Viewcount</mat-label>
                <input type="number" matInput placeholder="Max viewcount" [formControl]="viewCountTo">
            </mat-form-field>
        </div>


        <div class="col-4">
            <mat-form-field class="example-full-width">
                <mat-label>State</mat-label>
                <mat-select [formControl]="comicState" multiple>
                    <mat-option value="completed">Completed</mat-option>
                    <mat-option value="incomplete">Incomplete</mat-option>
                    <mat-option value="onhiatus">Onhiatus</mat-option>
                    <mat-option value="cancelled">Cancelled</mat-option>
                </mat-select>
            </mat-form-field>   
        </div>
    </div>


    <div class="row">
        <div class="col-4">
            <mat-form-field class="example-full-width" >
                <mat-label>PageCountFrom</mat-label>
                <input type="number" matInput placeholder="Min PageCount" [formControl]="pageCountFrom">
            </mat-form-field>   
        </div>


        <div class="col-4">
            <mat-form-field class="example-full-width" >
                <mat-label>PageCountTo</mat-label>
                <input type="number" matInput placeholder="Max PageCount" [formControl]="pageCountTo">
            </mat-form-field>   
        </div>


        <div class="col-4">
            <mat-form-field class="example-full-width">
                <mat-label>Order</mat-label>
                <mat-select [formControl]="orderBy">
                    <mat-option value="viewCountASC">View Count (0-100)</mat-option>
                    <mat-option value="viewCountDSC">View Count (100-0)</mat-option>
                    <mat-option value="titleASC">Title (A-Z)</mat-option>
                    <mat-option value="titleDSC">Title (Z-A)</mat-option>
                    <mat-option value="pageCountASC">Page Count (0-100)</mat-option>
                    <mat-option value="pageCountDSC">Page Count (100-0)</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>


    <div class="row">
        <div class="col-4">
            <mat-form-field class="example-full-width">
                <mat-label>From date</mat-label>
                <input matInput [matDatepicker]="fromDatePicker" [formControl]="fromDate">
                <mat-hint>YYYY/MM/DD</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="fromDatePicker"></mat-datepicker-toggle>
                <mat-datepicker #fromDatePicker></mat-datepicker>
              </mat-form-field>
        </div>


        <div class="col-4">
            <mat-form-field class="example-full-width">
                <mat-label>To date</mat-label>
                <input matInput [matDatepicker]="toDatePicker" [formControl]="toDate">
                <mat-hint>YYYY/MM/DD</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="toDatePicker"></mat-datepicker-toggle>
                <mat-datepicker #toDatePicker></mat-datepicker>
              </mat-form-field>
        </div>


        <div class="col-4">           
        
        </div>
    </div>
    <hr>
    <button mat-button color="primary" (click)="search()">Search</button>

    <div class="row" *ngIf="comicListFromBackend">
        <div class="col-2" *ngFor="let comic of comicListFromBackend.comics;">                
            <div class="card">
                <a href="/comic/{{comic.comicid}}" target="_blank">
                    <img class="card-img-top" src="{{comic.coverart}}" alt="">
                </a>
                <div class="card-body" >
                    <h1 class="card-title text-center">{{comic.title}}</h1>
                </div>
            </div>                
        </div>           
        

        <div class="col-12">
            <mat-paginator [length]="comicListFromBackend.totalElements"
              [pageSize]="comicListFromBackend.size"
              [pageSizeOptions]="[12, 24, 32]"
              aria-label="Select page"
              (page) = "OnPageChange($event)"
              #matPaginator>
            </mat-paginator>
        </div>
    </div>


</div>