<br><br><br><br>

<div class="container">	
	<form [formGroup]="loginForm">
	<div class="row">
		<div class="col-4"></div>
		<div class="col-4">
			<h1>Login</h1>
			<button (click)="fillCred()">Fill</button>
			<br>
			<mat-form-field class="full-width">
				<mat-label>Email</mat-label>
				<input matInput formControlName = "email">					
				<mat-error *ngIf="loginForm.get('email')?.getError('required')">Required!</mat-error>				
			</mat-form-field>
		</div>
		<div class="col-4"></div>
	</div>

	<div class="row">
		<div class="col-4"></div>
		<div class="col-4">
			<mat-form-field class="full-width">
				<mat-label>Password</mat-label>
				<input matInput formControlName = "password" type="password">
				<mat-error *ngIf="loginForm.get('password')?.getError('required')">Required!</mat-error>				
			</mat-form-field>
			
		</div>
		<div class="col-4"></div>
	</div>



	<div class="row">
		<div class="col-4"></div>
		<div class="col-4">			
			<div class="alert alert-danger" role="alert" *ngIf="cred">
				Username or password is invalid!
			</div>
			<br>
			<button class="form-control btn btn-secondary" [disabled]="!loginForm.valid" (click)="login()">Login</button>
		</div>
		<div class="col-4"></div>
	</div>
	</form>
	
	
</div>