<div class="row">
<mat-form-field class="example-chip-list" >
    <mat-label>Included Tags</mat-label>
    <mat-chip-list #chipList aria-label="Fruit selection">
      <mat-chip
        *ngFor="let tag of tagsToDisplay"
        (removed)="remove(tag)">
        {{tag}} 
        <button matChipRemove>
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip>
      <input        
        #tagInput
        [formControl]="tagCtrl"
        [matAutocomplete]="auto"
        [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        (matChipInputTokenEnd)="add($event)">
    </mat-chip-list>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
      <mat-option *ngFor="let fruit of filteredTags | async" [value]="fruit">
        {{fruit.split("|")[0]}}        
        <span style="color:#fff;">{{fruit.split("|")[1]}}</span>        
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</div>