<br><br><br>
<div class="container" *ngIf="comicData">
    <div class="row">
      <div class="col-6" id="cover">
        <div >
            <img class="card-img-top" [src]="comicData.coverart" alt="">
        </div>  
    
      </div>
      <div class="col-6">                
        <div class="row">
          <table id="comicTable" class="table">            
            <tbody>
              <tr>                
                <td><b>Title:</b></td>
                <td>{{comicData.title}}</td>                
              </tr>

              <tr>                
                <td><b>Uploader:</b></td>
                <td>{{comicData.uploader}}</td>
              </tr>

              <tr>                
                <td><b>Pages:</b></td>
                <td>{{comicData.pagecount}}</td>
              </tr>

              <tr>
                <td><b>Uploaded:</b></td>
                <td>{{comicData.created}}</td>
              </tr>

              <tr>
                <td><b>Modified:</b></td>
                <td>{{comicData.modified}}</td>
              </tr>

              <tr>
                <td><b>Status:</b></td>
                <td>
                  <container-element [ngSwitch]="comicData.status.toString().toLowerCase()">
                    <span *ngSwitchCase="'completed'">
                      <button type="button" class="btn btn-success btn-sm" disabled>{{comicData.status}}</button>
                    </span>
        
                    <span *ngSwitchCase="'incomplete'">
                      <button type="button" class="btn btn-warning btn-sm" disabled>{{comicData.status}}</button>
                    </span>
        
                    <span *ngSwitchCase="'onhiatus'">
                      <button type="button" class="btn btn-light btn-sm" disabled>{{comicData.status}}</button>
                    </span>
        
                    <span *ngSwitchCase="'cancelled'">
                      <button type="button" class="btn btn-danger btn-sm" disabled>{{comicData.status}}</button>
                    </span>
                 </container-element>
                </td>
              </tr>

              <tr>
                <td><b>Tags:</b></td>
                <td>
                  <span *ngFor="let tag of comicData.tags">
                    <button type="button" class="btn btn-dark btn-sm tagChip" disabled>{{tag.tagname}}</button>&nbsp;                    
                  </span>                  
                </td>
              </tr>

            </tbody>
          </table>
        </div>

     
     
      </div>      
    </div>

    <div> <br> <h1>Chapters: ({{comicData.chapters.length}})</h1></div>

    <div class="row" *ngFor="let chapter of comicData.chapters; let i = index">                  
      <a href="comicreader/{{comicData.comicid}}/{{chapter.chapterId}}" class="tagChip btn btn-secondary btn-lg btn-block" role="button" aria-pressed="true">{{chapter.chapterTitle}}</a>
    </div>


  </div>

  