<div class="container">
    <br>
    
    <br>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <h1>My Comic List </h1>            
            <button class="btn btn-secondary" (click)="addComicNav()">Add comic</button>
            <table class="table" *ngIf="myComics">
                <thead>
                  <tr>
                    <th scope="col"># ( pic )</th>
                    <th scope="col">Comic Title</th>                    
                    <th scope="col">Operations</th>
                  </tr>
                </thead>
                <tbody>
                  
                    <ng-container *ngFor="let comic of myComics">
                        <tr>
                        <td>
                            <a href="/comic/{{comic.comicid}}">
                                <img class=""
                                 src="{{comic.coverart}}" 
                                 alt=""
                                 height="300px"
                                 width="200px"
                                 >
                            </a>
                        </td>                        
                        <td class="align-middle">{{comic.title}}</td>
                 
                        <td class="align-middle">                        
                            <span class="material-icons" (click)="deleteComic(comic.comicid)">delete</span>
                            &nbsp;                            
                            <span class="material-icons" (click)="editComic(comic.comicid)">edit</span>
                        </td>
                    </tr>
                    </ng-container>                    
                  

            
                  
                </tbody>
              </table>
        </div>
        <div class="col-2"></div>
    </div>
</div>
