<h1 mat-dialog-title>Add bookmark?</h1>
<div mat-dialog-content>    
</div>
<div mat-dialog-actions>  
  <button class="btn btn-secondary" aria-disabled="true" (click)="add()">Add</button>
  &nbsp;&nbsp;
  <button class="btn btn-danger" aria-disabled="true" (click)="close()">Cancel</button>
</div>