<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Comic App</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        
          
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="['/home']" >Home</a>
          </li>      

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="['/register']" >Register</a>
          </li>   
          
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="['/search']" >Search</a>
          </li> 

          <!---
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="['/chips']" >Chips</a>
          </li> 
          -->

          <li id="random" class="nav-item" (click)="randomComic()">
            <a class="nav-link active" aria-current="page" >Random</a>
          </li>   
        </ul>

        <span class="navbar-text">          
          <ul class="navbar-nav me-auto mb-2 mb-lg-0" *ngIf="isLoggedIn()">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" [routerLink]="['/mycomics']" >My comics</a>
            </li> 

            <li class="nav-item">
              <a class="nav-link active" aria-current="page" [routerLink]="['/bookmarks']" >Bookmarks</a>
            </li> 
          </ul>
        </span>
        
        <button *ngIf="!isLoggedIn()" type="button" class="btn btn-secondary" [routerLink]="['/login']">Login</button>
        
        <button *ngIf="isLoggedIn()"type="button" class="btn btn-danger" (click)="logout()">Logout</button>

      </div>
    </div>
</nav>