<mat-accordion>
    <mat-expansion-panel >
    <mat-expansion-panel-header>
    <mat-panel-title>
        {{chapterTitle.value}}
    </mat-panel-title>
    <mat-panel-description>     
    </mat-panel-description>
    </mat-expansion-panel-header>
    
    <div class="md-3">
        <mat-form-field >
            <mat-label>ChapterTitle</mat-label>
            <input matInput placeholder="This is my favite chapter"required [formControl]="chapterTitle">
            <br>
            <mat-error *ngIf="chapterTitle.invalid">Required!</mat-error>
          </mat-form-field>
    </div>

    <div class="mb-3">        
        <input 
            class="form-control"
            type="file"
            multiple
            (change)="onFileSelected($event)"
            accept="image/png, .jpeg, .jpg, image/gif"
        >
    </div>
    

   

    <div *ngIf="pageArray.length>0" cdkDropList cdkDropListOrientation="horizontal" class="example-list" (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let page of pageArray; let i = index" cdkDrag>
            <div class="card" style="width: 12rem;">
                <img src="{{page.getHash()}}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{page.getFileName()}}</h5>  
                    <button class="btn btn-danger" (click)="deletePage(i)" >X</button>
                </div>
              </div>            
        </div>
    </div>    
    </mat-expansion-panel>
</mat-accordion>
<br><br>