<div class="container">
    <br>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
            <h1>My Bookmarks</h1>
            <table class="table" *ngIf="bookmarks">
                <thead>
                  <tr>
                    <th scope="col"># ( pic )</th>
                    <th scope="col">Comic Title</th>
                    <th scope="col">Link</th>
                    <th scope="col">Delete</th>
                  </tr>
                </thead>
                <tbody>
                  
                    <ng-container *ngFor="let bookmark of bookmarks">
                        <tr>
                        <td>
                            <a href="/comic/{{bookmark.comicId}}">
                                <img class=""
                                 src="{{bookmark.cover}}" 
                                 alt=""
                                 height="300px"
                                 width="200px"
                                 >
                            </a>
                        </td>                        
                        <td class="align-middle">{{bookmark.title}}</td>
                        <td class="align-middle">
                            <a href="/comicreader/{{bookmark.comicId}}/{{bookmark.chapterId}}/{{bookmark.pageId}}">
                                Link
                            </a>
                        </td>
                        <td class="align-middle">                        
                            <span class="material-icons" (click)="deleteBookmarks(bookmark.bookmarkId)">delete</span>
                        </td>
                    </tr>
                    </ng-container>                    
                  

            
                  
                </tbody>
              </table>
        </div>
        <div class="col-1"></div>
    </div>
</div>