<br><br><br><br>

<div class="container">	
	<form [formGroup]="registerForm">
	<div class="row">
		<div class="col-4"></div>
		<div class="col-4">
			<h1>Sign up</h1>
			<br>
			<mat-form-field class="full-width">
				<mat-label>Email</mat-label>
				<input matInput formControlName = "email">					
				<mat-error *ngIf="registerForm.get('email')?.getError('required')">Required!</mat-error>
				<mat-error *ngIf="registerForm.get('email')?.getError('email')">Email address is not valid!</mat-error>
				<mat-error *ngIf="registerForm.get('email')?.getError('emailExist')">There is user with this email address!</mat-error>
			</mat-form-field>
		</div>
		<div class="col-4"></div>
	</div>

	<div class="row">
		<div class="col-4"></div>
		<div class="col-4">
			<mat-form-field class="full-width">
				<mat-label>Password</mat-label>
				<input matInput formControlName = "password" type="password">					
				<mat-error *ngIf="registerForm.errors?.['passDontMatch']">Passwords does not match!</mat-error>
			</mat-form-field>
		</div>
		<div class="col-4"></div>
	</div>

	<div class="row">
		<div class="col-4"></div>
		<div class="col-4">
			<mat-form-field class="full-width">
				<mat-label>Confirm Password</mat-label>
				<input matInput formControlName = "confirmPassword" type="password">
				<mat-error *ngIf="registerForm.errors?.['passDontMatch']">Passwords does not match!</mat-error>
				<mat-error *ngIf="registerForm.get('confirmPassword')?.getError('pattern')">
					<ul>
						<li>At least 8 characters in length</li>
						<li>Lowercase letters</li>
						<li>Uppercase letters</li>
						<li>Numbers</li>
						<li>Special characters</li>
					</ul>
				</mat-error>										
			</mat-form-field>	
		</div>
		<div class="col-4"></div>
	</div>

	<br><br><br>

	<div class="row">
		<div class="col-4"></div>
		<div class="col-4">
			<button class="form-control btn btn-secondary" [disabled]="!registerForm.valid" (click)="register()">Signup</button>
		</div>
		<div class="col-4"></div>
	</div>
	</form>
</div>