<div class="container-lg" *ngIf="pages">
    <br>
    <div class="row" >
        <div class="col-3" >
            <mat-form-field >
                <mat-label>{{selectedChapter}}</mat-label>
                <mat-select >
                <mat-option *ngFor="let chapter of chapters">
                    <span (click)="navigateTo(comicId,chapter.chapterId)">
                        {{chapter.chapterTitle}}
                    </span>                    
                </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="col-6">                        
            
            <div class="row">                
                    <div class="col-4">                        
                        <a 
                        [ngClass]="{'disabled' : firstChapter}"
                        href="/comicreader/{{comicId}}/{{ previuesChapterId }}"
                        class="btn btn-secondary" 
                        role="button" 
                        aria-disabled="true">Previues chapter</a>                        
                        
                    </div>
                
                <div class="col-4 text-center">
                    <button type="button" class="btn btn-secondary" [routerLink]="['/comic', this.comicId]">Back to gallery</button>
                </div>
                <div class="col-4 text-center">                    
                    <a 
                    [ngClass]="{'disabled' : lastChapter}"
                    href="/comicreader/{{comicId}}/{{ nextChapterId }}"
                    class="btn btn-secondary" 
                    role="button" 
                    aria-disabled="true">Next chapter</a>
                </div>
            </div>  
                  
        </div>
        
        <div class="col-3" ></div>
    </div>

    <div class="row">
        <div class="col-1" ></div>
        <div class="col-10"  *ngIf="pages">            
            <div class="d-flex justify-content-center" *ngFor="let page of pages" (click)="openDialog( comicId, chapterId, page.pageId)">
                <div [id]=page.pageId>
                    <br>
                    <img src="{{page.hash}}" />
                    <br>
                </div>                
            </div>
        </div>
        <div class="col-1" ></div>
    </div>

    <br>

    <div class="row" >
        <div class="col-3" >

        </div>

        <div class="col-6">                        
            
            <div class="row">                
                <div class="col-4">                        
                    <a 
                    [ngClass]="{'disabled' : firstChapter}"
                    href="/comicreader/{{comicId}}/{{ previuesChapterId }}"
                    class="btn btn-secondary" 
                    role="button" 
                    aria-disabled="true">Previues chapter</a>                        
                    
                </div>
            
            <div class="col-4 text-center">
                <button type="button" class="btn btn-secondary" [routerLink]="['/comic', this.comicId]">Back to gallery</button>
            </div>
            <div class="col-4 text-center">                    
                <a 
                [ngClass]="{'disabled' : lastChapter}"
                href="/comicreader/{{comicId}}/{{ nextChapterId }}"
                class="btn btn-secondary" 
                role="button" 
                aria-disabled="true">Next chapter</a>
            </div>
        </div>  
                  
        </div>
        
        <div class="col-3" ></div>
    </div>

    <br><br>
</div>




