<br><br><br><br>
<div class="container">
    <div class="row">
        <div class="col-6">
            <mat-form-field class="example-full-width" >
                <mat-label>Title</mat-label>
                <input matInput placeholder="Comic Title" [formControl]="comicTitle">
              </mat-form-field>
        </div>
        <div class="col-6">
            <mat-form-field class="example-full-width">
                <mat-label>State</mat-label>
                <mat-select [formControl]="comicState">
                    <mat-option value="Completed">Completed</mat-option>
                    <mat-option value="Incomplete">Incomplete</mat-option>
                    <mat-option value="Onhiatus">Onhiatus</mat-option>
                    <mat-option value="Cancelled">Cancelled</mat-option>
                </mat-select>
            </mat-form-field>   
        </div>                
    </div>

    <div class="row">
        <div class="col-12">            
            <app-tag-chips #includedTagChips></app-tag-chips>
        </div>
    </div>

    <div class="row">
        <div class="col-10">
            <h1>Chapters:</h1>
        </div>
        <div class="col-2">
            <button class="btn btn-secondary" (click)="addChapter()">Add chapter</button>
        </div>     
        <hr>   
    </div>


    <div  cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
        <div class="row dragable" *ngFor="let chapter of chapterArray; let i = index" cdkDrag>
            <div class="col-11">
                <app-pagecontainer #comicChapters [chapterTitle]="chapter.chapterTitle" [pageArray]="chapter.pageArray" [chapterId]="chapter.chapterId"></app-pagecontainer>                
            </div>

            <div class="col-1">
                <div class="align-self-center">
                    <button class="btn btn-danger rounded-circle" (click)="deleteChapter(i)">X</button>
                </div>                
            </div>
        </div>        
        
    </div>      

    <div class="row">
        <div class="col-12">
            <button (click)="addComic()" class="btn btn-secondary">{{buttonText}}</button>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <a  class="btn btn-secondary" [routerLink]="['/mycomics']">Cancel</a>            
        </div>        
    </div>
</div>
